<div id="header">
<h1>Welcome to CiCS Cloud Monitoring Station<br>
For Solaris 11 Ldoms </h1>
</div>

<div id="section">
<table width="100%">
	<tr>
		<th>Hostname</th>	
		<th>default_node</th>	
		<th>running_node</th>	
		<th>allocated_mem</th>	
		<th>used_mem</th>	
		<th>util</th>	
		<th>norm</th>	
		<th>uptime</th>	
	</tr>

	<% @ldoms.each do |ldom| %>
	<tr>
		<td><%= ldom.hostname %></td>
		<td><%= ldom.default_node %></td>
   	<td><%= ldom.running_node %></td>
	   <td><%= ldom.allocated_mem %></td>
	   <td><%= ldom.used_mem %></td>
	   <td><%= ldom.util %></td>
	   <td><%= ldom.norm %></td>
	   <td><%= ldom.uptime %></td>
	</tr>
	<% end %>
</table>


