<% @page_title = "Solaris 11 Ldoms" %>

<h4>Sorted by <%= sort_column %></h4>
<table>
	<tr>
		<th><%= sortable "hostname" %></th>	
		<th>default_node</th>	
		<th><%= sortable "running_node" %></th>	
		<th>allocated_mem</th>	
		<th>used_mem</th>	
		<th>util</th>	
		<th>norm</th>	
		<th>uptime</th>	
	</tr>

	<% for ldom in @ldoms %>
	<tr>
		<td><%= ldom.hostname %></td>
		<td><%= ldom.default_node %></td>
   	<td><%= ldom.running_node %></td>
	   <td><%= ldom.allocated_mem %></td>
	   <td><%= ldom.used_mem %></td>
	   <td><%= ldom.util %></td>
	   <td><%= ldom.norm %></td>
	   <td><%= ldom.uptime %></td>
	</tr>
	<% end %>
</table>
