<%= form_for @node do |f| %>
	<label>Node Name</label>
	<%= f.text_field :nodename %>

	<label>Blade Number</label>
	<%= f.text_field :bladenumber %>

	<label>Processor Type</label>
	<%= f.text_field :processor_type %>

	<label>Installed Memory</label>
	<%= f.text_field :max_memory %>

	<%= f.submit %>
<% end %>
